@font-face {
  font-family: 'Press Start 2P';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Press-Start-2P/regular.woff2') format('woff2'),
       url('../fonts/Press-Start-2P/regular.woff') format('woff'),
       url('../fonts/Press-Start-2P/regular.ttf') format('ttf')
}
